package ${package.Controller};

#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end
import ${package.Service}.${table.serviceName};
import ${package.Entity}.${entity};
import ${package.Entity}.enums.RequestEnum;
import ${package.Entity}.dto.JsonResult;

import com.alibaba.fastjson.JSON;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import java.util.List;

#set ($lowEntity = $!entity.substring(0,1).toLowerCase() + $!entity.substring(1))

/**
 *
 * @author ${author}
 * @since ${date}
 */
@RestController
@RequestMapping("/front#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
#if(${superControllerClass})
@Slf4j
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end

    @Autowired
    public ${table.serviceName} ${lowEntity}Service;

    /**
       * 分页查询条件
       * @param ${table.entityPath} 对象中填充查询条件
       * @param page 第几页
       * @param limit 每页显示的数量
       * @return jsonResult.root : 记录，jsonResult.success : 成功/失败，jsonResult.totalSize : 总数量
       */
    @GetMapping("/getPageList")
    public JsonResult get${entity}List(@ModelAttribute ${entity} ${lowEntity},
                                       @RequestParam(required = false,defaultValue = "1")Integer page,
                                       @RequestParam(required = false,defaultValue = "20")Integer limit) {
        JsonResult jsonResult = new JsonResult();

        QueryWrapper<${entity}> ${lowEntity}Wrapper = new QueryWrapper<>();
    //        //条件DEMO
    //        //like
    //        if(StringUtils.isNotEmpty(article.getArtiTitle())){
    //            articleWrapper.lambda().like(Article::getArtiTitle,article.getArtiTitle());
    //        }
    //        //等于
    //        articleWrapper.eq("column","value");
        Page ${lowEntity}Page = new Page<>(page,limit);
            //第三个参数为false的时候，不查询数据总数
    //        Page articlePage = new Page<>(page,limit,false);
        IPage<${entity}> ${lowEntity}IPage = ${lowEntity}Service.page(${lowEntity}Page,${lowEntity}Wrapper);

        jsonResult.setSuccess(true);
        jsonResult.setTotalSize(${lowEntity}IPage.getTotal());
        jsonResult.setRoot(${lowEntity}IPage.getRecords());

        return jsonResult;
    }

    /**
    * 不分页查询条件
    * @param ${lowEntity} 对象中填充查询条件
    * @return jsonResult.root : 记录，jsonResult.success : 成功/失败，jsonResult.totalSize : 总数量
    */
    @GetMapping("/getList")
    public JsonResult getList(@ModelAttribute ${entity} ${lowEntity}) {
        JsonResult jsonResult = new JsonResult();

        QueryWrapper<${entity}> ${lowEntity}Wrapper = new QueryWrapper<>();

    //        //条件DEMO
    //        //like
    //        if(StringUtils.isNotEmpty(article.getArtiTitle())){
    //            articleWrapper.lambda().like(Article::getArtiTitle,article.getArtiTitle());
    //        }
    //        //等于
    //        articleWrapper.eq("column","value");

        List<${entity}> ${lowEntity}List = ${lowEntity}Service.list(${lowEntity}Wrapper);

        jsonResult.setSuccess(true);
        jsonResult.setTotalSize(${lowEntity}Service.count(${lowEntity}Wrapper));
        jsonResult.setRoot(${lowEntity}List);

        return jsonResult;
    }

    /**
    * 新增一条数据
    * @param ${lowEntity}
    * @return jsonResult.success : 成功/失败
    */
    @PostMapping("/add")
    public JsonResult add(${entity} ${lowEntity}) {

        JsonResult jsonResult= new JsonResult();

        if(${lowEntity}Service.save(${lowEntity})){
            jsonResult.setSuccess(true);
        }else {
            jsonResult.buildFalseNew(RequestEnum.REQUEST_ERROR_DATABASE_UPDATE_ERROR);
        }

        return jsonResult;
    }

    /**
    * 根据主键更新
    * @param ${lowEntity}
    * @return jsonResult.success : 成功/失败
    */
    @PostMapping("/updateById")
    public JsonResult articleSave(${entity} ${lowEntity}) {
        JsonResult jsonResult= new JsonResult();

        if(${lowEntity}Service.updateById(${lowEntity})){
            jsonResult.setSuccess(true);
        }else {
            jsonResult.buildFalseNew(RequestEnum.REQUEST_ERROR_DATABASE_UPDATE_ERROR);
        }

        return jsonResult;
    }

    /**
    * 根据id删除对象
    * @param id  实体ID
    * @return jsonResult.success : 成功/失败
    */
    @PostMapping("/delete")
    public JsonResult delete(@RequestParam(required = false,defaultValue = "0") Long id){
        JsonResult jsonResult = new JsonResult();
            //判断主键
        if(id == 0){
            jsonResult.buildFalseNew(RequestEnum.REQUEST_ERROR_DATABASE_DELETE_NO_KEY);
        }

        if(${lowEntity}Service.removeById(id)){
            jsonResult.setSuccess(true);
        }else{
            jsonResult.buildFalseNew(RequestEnum.REQUEST_ERROR_DATABASE_DELETE_ERROR);
        }

        return jsonResult;
    }

    /**
        * 根据Id批量删除数据
        * @param idList 需要删除对象ID列表
        * @return jsonResult.success : 成功/失败
        */
    @PostMapping("/batchDeleteById")
    public JsonResult deleteBatchIds(@RequestParam(required = false,defaultValue = "") String idList){
        JsonResult jsonResult=new JsonResult();

            //先验证id组成的JOSN
        List<Long> ids=null;
        try{
            ids=(List<Long>)JSON.parse(idList);
        }catch(Exception e){
            jsonResult.setSuccess(false);
            jsonResult.setFailReason("JSON格式错误!");
            return jsonResult;
        }

        if(${lowEntity}Service.removeByIds(ids)){
            jsonResult.setSuccess(true);
        }else{
            jsonResult.buildFalseNew(RequestEnum.REQUEST_ERROR_DATABASE_DELETE_ERROR);
        }

        return jsonResult;
    }

}