<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtexplorer.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jtexplorer.entity.User">
        <id column="user_id" property="userId" />
        <result column="user_number" property="userNumber" />
        <result column="user_nickname" property="userNickname" />
        <result column="user_phone" property="userPhone" />
        <result column="user_password" property="userPassword" />
        <result column="user_province" property="userProvince" />
        <result column="user_city" property="userCity" />
        <result column="user_county" property="userCounty" />
        <result column="user_address" property="userAddress" />
        <result column="user_account" property="userAccount" />
        <result column="user_salt" property="userSalt" />
        <result column="user_real_name" property="userRealName" />
        <result column="user_sex" property="userSex" />
        <result column="user_image" property="userImage" />
        <result column="user_create_time" property="userCreateTime" />
        <result column="user_update_tim" property="userUpdateTim" />
        <result column="user_birthday" property="userBirthday" />
        <result column="user_remark" property="userRemark" />
        <result column="user_last_login_time" property="userLastLoginTime" />
        <result column="user_last_login_ip" property="userLastLoginIp" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, user_number, user_nickname, user_phone, user_password, user_province, user_city, user_county, user_address, user_account, user_salt, user_real_name, user_sex, user_image, user_create_time, user_update_tim, user_birthday, user_remark, user_last_login_time, user_last_login_ip
    </sql>

</mapper>
